body{
     margin: 0;
     padding: 0;
     background-color: rgb(0, 0, 0);
    
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

    
}
h1{
        
        font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    
    
}
.nav img{
    width: 7vw;

}
.nav{
    background-color: #000000;
    
    
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav ul{
    display: flex;

    justify-content: center;
   
    gap: 1vw;
}
.nav li{
    font-size: 1vw;
    list-style: none;
   color: whitesmoke;
  
   
}

.page1 .img img {
    position: relative;
    width: 80vw;
    margin-left: 10vw;
}
.page1 .text{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #ffffff;
    top: 20vw;
    left: 15vw;
}
.page2 .one img{
    margin: 2vw;
   
   width: 30vw;
}
.page2 .two img{
    margin: 2vw;
   
   width: 30vw;
}
.page2 .three img{
    margin: 2vw;
   
   width: 18vw;
}
.page2{
    display: flex;
}

.page3{
    background-color: white;
   
   
}
.page3 .text{
    font-size: 2vw;
    display: flex;
    justify-content: space-evenly;
   
}
.page3 ul li{
    color: #000000;
    margin: 1vw;
    padding: 1vw;
    margin-left: 2vw;
   
}
/*                                    page 4                                                                                                                               */
.page4{
width: 100vw;

background-color: #000000;
}
.page4 h1{
color: white;
}
.one img{
    margin: 1vw;
    padding: 1vw;
    width: 20vw;
    height: 50vh;
}
.two img{
    margin: 1vw;
    padding: 1vw;
    width: 20vw;
    height: 50vh;
}
.three img{
    
   
    margin: 1vw;
    padding: 1vw;
    width: 20vw;
    height: 50vh;
}
.four img{
    margin: 1vw;
    padding: 1vw;
    width: 15vw;
    height: 50vh;
}
.mg{
    margin: 5vh;
    display: flex;
}

button{
    margin-left: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;

}
.imgg img{
    margin: 2vw;
    padding: 2vw;
}

.page5{
    font-size: 2vw;
   
    background-color: rgb(255, 255, 255);
}
.card{
    gap: 5vw;
    margin-left: 6vw;
    
    display: flex;
}

.card1{
    width: 42vw;
}
.card2{
    width: 42vw;
}
.card2 i{
margin-left: 38vw;
}
.card1 i{
    margin-left: 38vw;
    }
    .card2 span{
        font-size: x-large;
    }
    .card1 span{
        font-size: x-large;
    }












.spotlight
{ background-color: #000000;
    width: 100vw;
}
.spotlight h1{
    color: #ffffff;
}

.imgg{
    display: flex;
}
.imgg img{
    width: 25vw;
}










.footer{
   
    font-size: 3vw;
    color: #ffffff;
    display: flex;
    font-size: 1vw;
    justify-content: space-between;
}
.footer ul{
    list-style: none;
}
    .lastfooter{
        width: 100vw;
        font-size: 1vw;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }